<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <httpProtocol>
   	 <customHeaders>
   	     <add name="Connection" value="keep-alive" />
 	   </customHeaders>
	</httpProtocol>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>